<!-- Eat-Da-Burger - main.handlebars - UW Coding Bootcamp - Week 14 Homework -->

<!DOCTYPE html>
<html>
  <head>

    <title>Eat da Burger!</title>

    <!-- Burger Image -->
    <link rel="icon" href="assets/img/burgerimg.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- My CSS -->
    <link rel="stylesheet" href="assets/css/burger_style.css">

  </head>

  <body>

    <!-- Page Container -->
    <div class="container-fluid page">


        <div class="row">

            <div class="col-12">
                <div class="jumbotron text-center">
                    <img src="assets/img/sparkleburger2.gif" alt="Burger Image">
                    <h2 id="mainTitle">Eat Da Burger!</h2>      
                    <p>Choose a Burger from the list to devour it! Don't see one on the list you like? <br> 
                        Order any burger of your choosing by submitting the request form below.</p>    
                </div>
            </div>
        </div>

    <br>

      <!-- Burger Content from index.handlebars -->
      {{{body}}}

    <br>
    <br>

        <!-- Input New Burgers Form -->
        <form action="burger/create" method="POST"> 
            
            <!-- Text Area Input -->
            <div class="row">

            <!-- Empty Div for formatting purposes -->
            <div class="col-md-3"></div> 

                <!-- Burger Input Box -->
                <div class="form-group col-md-6 text-center">
                    <label for="new_burger" class="submitFont">Request a new burger</label>
                    <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger" required value="" name="burger_name"></textarea>
                </div>
            
            <!-- Empty Div for formatting purposes-->  
            <div class="col-md-3"></div> 

            </div>
        
            <!-- Submit Button -->
            <div class="text-center">
            <button id="submit-button" type="submit" class="btn btn-danger">Make my Burger</button>
            </div>
        </form>
    <br>
    </div>
  </body>
</html> 

